
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">Dashboard</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row" id="titulo">
      <mat-toolbar><p><b style="font-size: 32px;">Portfolio personal</b></p> <div class="example-spacer"></div><button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar transacción</button></mat-toolbar>
    </div>
    
    <!-- FORMULARIO AGREGAR TRANSACCION -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Realizar transacción</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" [formGroup]="form" (ngSubmit)="agregar()">
              <div class="form-check col-md-6">
                <select class="form-select" aria-label="Default select example" formControlName="nombre">
                  <option selected >Selecciona la moneda</option>
                  <option *ngFor="let nombre of datosM; index as i">{{nombre}}</option>
                </select>
              </div>
              <div class="form-check col-md-6">
                <div class="input-group form-outline">
                  <input class="form-control" placeholder="Cantidad" formControlName="cantidad">
                </div>
              </div>
              <div class="row g-3">
                <div class="form-check col-md-6">
                  <div class="input-group form-outline">
                    <input class="form-control" placeholder="Precio de compra" formControlName="precio_actual">
                  </div>
                </div>
                <div class="form-check col-md-6">
                  <div class="input-group form-outline">
                    <input type="date" class="form-control" placeholder="" formControlName="fecha">
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="form-check col-md-6">
                  <select class="form-select" aria-label="Default select example" formControlName="tipo">
                    <option value="compra">Compra</option>
                    <option value="venta">Venta</option>
                  </select>
                </div>
              </div>
              
              <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Añadir transacción</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA IZQUIERDA -->

    <div class="row">
      <div class="col-3">
        <div class="row">
          <mat-card class="example-card" >
            <mat-card-title style="text-align: center;">Cantidad actual ($)</mat-card-title>
            <mat-card-content>
              <span  *ngIf="beneficio >= 0" class="positive bold"><p style="text-align: center; font-size: 20px;"><b>${{format(cantidadActual)}}</b></p></span>
              <span  *ngIf="beneficio < 0" class="negative bold"><p style="text-align: center; font-size: 20px;"><b>${{format(cantidadActual)}}</b></p></span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="row">
          <mat-card class="example-card">
            <mat-card-title style="text-align: center;">Total invertido ($)</mat-card-title>
            <mat-card-content>
              <p style="text-align: center; font-size: 20px;"><b>${{format(comprasGenerales)}}</b></p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="row">
          <mat-card class="example-card">
            <mat-card-title style="text-align: center;">Beneficio/Pérdida ($)</mat-card-title>
            <mat-card-content>
              <span  *ngIf="beneficio >= 0" class="positive bold"><p style="text-align: center; font-size: 20px;"><b>${{format(beneficio)}}</b></p></span>
              <span  *ngIf="beneficio < 0" class="negative bold"><p style="text-align: center; font-size: 20px;"><b>${{format(beneficio)}}</b></p></span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="row">
          <mat-card class="example-card">
            <mat-card-title style="text-align: center;">Mejor moneda</mat-card-title>
            <mat-card-subtitle style="text-align: center;">Moneda de la cuál se han obtenido más beneficios o menos pérdidas</mat-card-subtitle>
            <mat-card-content>
              <span class="positive bold"><p style="text-align: center; font-size: 20px;"><b>{{mejorMoneda[0]}} ${{format(mejorMoneda[1])}}</b></p></span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="row">
          <mat-card class="example-card">
            <mat-card-title style="text-align: center;">Peor moneda</mat-card-title>
            <mat-card-subtitle style="text-align: center;">Moneda de la cuál se han obtenido más pérdidas o menos beneficios</mat-card-subtitle>
            <mat-card-content>
            <span class="negative bold"><p style="text-align: center; font-size: 20px;"><b>{{peorMoneda[0]}} ${{format(peorMoneda[1])}}</b></p></span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- TABLA PRINCIPAL -->

      <div class="col-9">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Símbolo </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
            <ng-container matColumnDef="inversion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Inversión </th>
              <td mat-cell *matCellDef="let element"> ${{format(element.inversion.toFixed(3))}} </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}}</td>
            </ng-container>
            <ng-container matColumnDef="preciocompra">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Precio compra </th>
              <td mat-cell *matCellDef="let element"> ${{format(element.preciocompra.toFixed(3))}} </td>
            </ng-container>
            <ng-container matColumnDef="precioactual">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Precio actual</th>
              <td mat-cell *matCellDef="let element"> ${{format(element.precioactual.toFixed(3))}} </td>
            </ng-container>
            <ng-container matColumnDef="p24h">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> p24h% </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.p24h >= 0" class="positive bold">{{element.p24h.toFixed(3) }}%</span>
                <span *ngIf="element.p24h < 0" class="negative bold">{{element.p24h.toFixed(3) }}%</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="beneficios">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Beneficios </th>
              <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.beneficios >= 0" class="positive bold">${{element.beneficios.toFixed(3) }}</span>
                <span *ngIf="element.beneficios < 0" class="negative bold">${{element.beneficios.toFixed(3) }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="porcentajeRendimiento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas"> Desempeño </th>
              <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.porcentajeRendimiento >= 0" class="positive bold">{{element.porcentajeRendimiento.toFixed(3) }}%</span>
                <span *ngIf="element.porcentajeRendimiento < 0" class="negative bold">{{element.porcentajeRendimiento.toFixed(3) }}%</span>
              </td>
            </ng-container>      
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef id="columnas"> </th>
              <td mat-cell *matCellDef="let element" style="text-align: right;" > 
                <a (click)="eliminar(element)" class="pointer" style="color: primary" matTooltip="Eliminar moneda" matTooltipPosition="right">
                  <mat-icon>delete</mat-icon>
                </a> 
              </td>
            </ng-container>   
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
          <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>

    <!-- FORMULARIO PARA EDITAR TRANSACCION -->

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edición de Transaccion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3" [formGroup]="form" (ngSubmit)="actualizar()">
              <div class="form-check col-md-6">
                <select class="form-select" aria-label="Default select example" formControlName="nombre">
                  <option selected >Selecciona la moneda</option>
                  <option *ngFor="let nombre of datosM; index as i">{{nombre}}</option>
                </select>
              </div>
              <div class="form-check col-md-6">
                <div class="input-group form-outline">
                  <input class="form-control" placeholder="Cantidad" formControlName="cantidad">
                </div>
              </div>
              <div class="row g-3">
                <div class="form-check col-md-6">
                  <div class="input-group form-outline">
                    <input class="form-control" placeholder="Precio de compra" formControlName="precio_actual">
                  </div>
                </div>
                <div class="form-check col-md-6">
                  <div class="input-group form-outline">
                    <input type="date" class="form-control" placeholder="" formControlName="fecha">
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="form-check col-md-6">
                  <select class="form-select" aria-label="Default select example" formControlName="tipo">
                    <option value="compra">Compra</option>
                    <option value="venta">Venta</option>
                  </select>
                </div>
              </div>
              
              <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Editar transacción</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA HISTORIAL -->

    <div style="padding-top: 5%;">
      <span>
        <h2 style="text-align: center;">Historial de transacciones</h2>
      </span>
    </div>
    <div class="row" id="historial">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2" style="width: 100%;" matSort>
          <ng-container matColumnDef="nombreMoneda">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas2"> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreMoneda}} </td>
          </ng-container>
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas2"> Símbolo </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>  
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas2"> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}}</td>
          </ng-container>
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas2"> Precio </th>
            <td mat-cell *matCellDef="let element"> ${{format(element.precio.toFixed(3))}} </td>
          </ng-container>
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas2"> Tipo</th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
          </ng-container>     
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnas2"> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha.slice(0,10)}} </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef id="columnas2"> </th>
            <td mat-cell *matCellDef="let element" style="text-align: right;" > 
              <a (click)="guardarId(element)" class="pointer" style="color: primary" matTooltip="Editar transaccion" matTooltipPosition="right">
                <mat-icon data-bs-toggle="modal" data-bs-target="#editModal">edit</mat-icon>
              </a> 
            </td>
          </ng-container>  
          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>  
        <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
