.breadcrumb {
  margin-top: 2%;
  position: absolute;
  width: 100%;
}

.container {
  padding-top: 10%;
  }

#historial {
 padding-top: 5%; 
}

.pointer {
  cursor: pointer;
}

.positive {
  color: rgb(41, 187, 53);
}

.negative {
  color: rgb(238, 33, 6);
}

#titulo {
  font-size: 32px;
  text-align: center;
  min-height: 10vh;
}

#monedas {
  min-height: 10vh;
}

#columnas {
  width: 11%;
  padding: auto;
}

#columnas2 {
  width: 17%;
  padding: auto;
}

td {
  text-align: left  ;
}