<!--Registrase/Sign in-->
<body>
  <div id="formulario">
    <form>
      <div class="container">
        <div class="container2">
          <div class="text-center">
            <h2><b>Registrate</b></h2>
          </div>
          <!-- Nombre -->
          <div class="row">
            <div class="col-sm">
              <label for="exampleFormControlInput1" class="form-label">Nombre</label>
              <input class="form-control" type="text" placeholder="" aria-label="default input example">
            </div>
            <div class="col-sm">
              <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
              <input class="form-control" type="text" placeholder="" aria-label="default input example">
            </div>
          </div>
          <!-- Correo electrónico -->
          <div class="row-sm">
            <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <!-- Contraseña -->
          <div class="row-sm">
            <label for="inputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword">
          </div>
          <!-- Repetir contraseña -->
          <div class="row-sm">
            <label for="inputPassword2" class="form-label">Verificar contraseña</label>
              <input type="password" class="form-control" id="inputPassword">
          </div>
      
          <!-- Submit button -->
          <div id="register-button" class="text-center">
            <button type="submit" class="btn btn-outline" style="background-color:#D61C4E"><b style="color: white;">Registrate</b></button>
          </div>
        </div>
      </div>
    </form>
  </div>  
</body>
