#formulario {
  padding-top: 10%;
  width: 60%;
  margin: 0 auto;
}

#register-button {
  padding-top: 5%;
}

.container2 {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;  
}
