<body>
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Monedas</li>
    </ol>
  </nav>
  <!-- POLLAS-->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <p style="font-size: 32px"><b>Bitcoin</b><span class="badge bg-primary me-2 m-2" id="symbol-badge" style="width: 10%;">BTC</span></p> 
        </div>
        <div class="row" >
          <span class="badge bg-primary me-2" style="width: 10%;">tag1</span>
          <span class="badge bg-primary me-2" style="width: 10%;">tag2</span>
          <span class="badge bg-primary me-2" style="width: 10%;">tag3</span>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <p style="font-size: 32px"><b>20.000,35  </b><span class="badge bg-primary">2.03%</span></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col" id="col-datos1">
        <div class="row" id="espacio-top"></div>
        <div class="row" id="row-datos1">
          <p style="color:#D61C4E;">
            <b>Marketcap</b>
            <a class="pointer" style="color: primary" matTooltip="Valor total del mercado de la oferta circulante" matTooltipClass="tooltip">
              <mat-icon>info</mat-icon>
            </a>
          </p> 
          <p>
            <b>$382,292,764,649</b>
          </p>
        </div>
        <div class="row" id="espacio"></div>
      </div>
      <div class="col" id="col-datos2">
        <div class="row" id="espacio-top"></div>
        <div class="row" id="row-datos2">
          <p style="color:#D61C4E;">
            <b>Volumen</b>
            <a class="pointer" style="color: primary" matTooltip="Cantidad de criptomonedas que fueron tradeadas" matTooltipClass="tooltip">
              <mat-icon>info</mat-icon>
            </a>
          </p>
          <p>
            <b>$25,648,904,954</b>
          </p>
        </div>
        <div class="row" id="espacio"></div>
      </div>
      <div class="col" id="col-datos3">
        <div class="row" id="espacio-top"></div>
        <div class="row" id="row-datos3">
          <p style="color:#D61C4E;">
            <b>Acciones en circulación</b>
            <a class="pointer" style="color: primary" matTooltip="Cantidad de monedas en circulación en el mercado de origen público" matTooltipClass="tooltip">
              <mat-icon>info</mat-icon>
            </a>
          </p> 
          <p>
            <b>19,134,662.00 BTC</b>
          </p>
        </div>
        <div class="row" id="espacio"></div>
      </div>
    </div>
    <div class="row">
      <div class="col" id="col-datos1">
        <div class="row" id="espacio-top"></div>
        <div class="row" id="row-datos1">
          <p style="color:#D61C4E;">
            <b>Marketcap</b>
            <a class="pointer" style="color: primary" matTooltip="Valor total del mercado de la oferta circulante" matTooltipClass="tooltip">
              <mat-icon>info</mat-icon>
            </a>
          </p> 
          <p>
            <b>$382,292,764,649</b>
          </p>
        </div>
        <div class="row" id="espacio"></div>
      </div>
      <div class="col" id="col-datos2">
        <div class="row" id="espacio-top"></div>
        <div class="row" id="row-datos2">
          <p style="color:#D61C4E;">
            <b>Volumen</b>
            <a class="pointer" style="color: primary" matTooltip="Cantidad de criptomonedas que fueron tradeadas" matTooltipClass="tooltip">
              <mat-icon>info</mat-icon>
            </a>
          </p>
          <p>
            <b>$25,648,904,954</b>
          </p>
        </div>
        <div class="row" id="espacio"></div>
      </div>
      <div class="col" id="col-datos3">
        <div class="row" id="espacio-top"></div>
        <div class="row" id="row-datos3">
          <p style="color:#D61C4E;">
            <b>Acciones en circulación</b>
            <a class="pointer" style="color: primary" matTooltip="Cantidad de monedas en circulación en el mercado de origen público" matTooltipClass="tooltip">
              <mat-icon>info</mat-icon>
            </a>
          </p> 
          <p>
            <b>19,134,662.00 BTC</b>
          </p>
        </div>
        <div class="row" id="espacio"></div>
      </div>
    </div>
  </div>
</body>
