<nav class="navbar navbar-expand-lg bg-light" style="background-color: #293462;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>E-Portfolio</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  [routerLink]="['/dashboard']"><b>Dashboard</b></a>
        </li>
      </ul> 
      <span class="example-spacer"></span>
      <button *ngIf='isLogged()' type="button" style="background-color: #D61C4E;" class="btn btn-rounded" [routerLink]="['/sign-in']"><b style="color:white ;">Inicia sesión</b></button>
      <button *ngIf='!isLogged()' (click)="logout()" type="button" style="background-color: #424242;" class="btn btn-rounded"><b style="color:white ;">Cerrar Sesión</b></button>
    </div>
  </div>
</nav>