table {
  width: 100%;
  margin-top: 10px;
}

th {
  width: 10%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-toolbar {
  margin-top: 5%;
  background-color: white;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.mat-tooltip.tooltip {
  font-size: 12px;
}

