  <div class="bg-image" style="background-image: url('https://www.atfx.com/hubfs/ATFX%20Design/Existing%20Pages/Existing%20pages%20-%20go%20live%20-%20Education%20and%20Tools/Trading%20Central/tools-trading-central-image.jpg'); height: 80vh;">
    <div class="row">
      <div class="col" style="display: grid; place-content: center; padding-top: 20%; text-align: center;">
        <p style="color: white; font-size: large;">E-Portfolio te permitirá tener al alcance todos tus movimientos <br>de inversión con tan solo unos clicks</p>
        <button type="button" style="max-width: 40%; margin: 0 auto" class="btn btn-light" [routerLink]="['/sign-in']">Únete a nosotros</button>
      </div>
    </div>
  </div>


<div class="container">
  <mat-toolbar>
    <span >
      Principales criptomonedas
    </span>
  </mat-toolbar>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z6" style="padding-top: 0px;">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Criptomoneda </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Símbolo </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
    
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
        <td mat-cell *matCellDef="let element"> ${{element.precio.toFixed(5)}} </td>
      </ng-container>

      <ng-container matColumnDef="p1h">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 1h % </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.p1h >= 0" class="positive bold">{{element.p1h.toFixed(3)}}% </span>
          <span *ngIf="element.p1h < 0" class="negative bold">{{element.p1h.toFixed(3)}}% </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="p24h">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 24h % </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.p24h >= 0" class="positive bold">{{element.p24h.toFixed(3)}}% </span>
          <span *ngIf="element.p24h < 0" class="negative bold">{{element.p24h.toFixed(3)}}% </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="p7d">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 7d % </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.p7d >= 0" class="positive bold">{{element.p7d.toFixed(3)}}% </span>
          <span *ngIf="element.p7d < 0" class="negative bold">{{element.p7d.toFixed(3)}}% </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="marketcap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Capitalización de mercado </th>
        <td mat-cell *matCellDef="let element"> ${{format(element.marketcap.toFixed())}} </td>
      </ng-container>

      <ng-container matColumnDef="circulatingSupply">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supply circulante </th>
        <td mat-cell *matCellDef="let element"> {{format(element.circulatingSupply.toFixed())}} {{element.symbol}} </td>
      </ng-container>
  
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/monedas']" style="text-align: right;" > 
          <a class="pointer" style="color: #D61C4E" matTooltip="Más info" (click)="moneda(element)">
            <mat-icon>search</mat-icon>
          </a> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
    <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
  </div>
</div>

