<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <mat-toolbar>
      <span >
        Principales criptomonedas
      </span>
    </mat-toolbar>
  
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Criptomoneda </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
  
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Símbolo </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
          <td mat-cell *matCellDef="let element"> ${{element.precio.toFixed(5)}} </td>
        </ng-container>
  
        <ng-container matColumnDef="p1h">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 1h % </th>
          <td mat-cell *matCellDef="let element"> {{element.p1h.toFixed(3)}}% </td>
        </ng-container>
  
        <ng-container matColumnDef="p24h">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 24h % </th>
          <td mat-cell *matCellDef="let element"> {{element.p24h.toFixed(3)}}% </td>
        </ng-container>
  
        <ng-container matColumnDef="p7d">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 7d % </th>
          <td mat-cell *matCellDef="let element"> {{element.p7d.toFixed(3)}}% </td>
        </ng-container>
  
        <ng-container matColumnDef="marketcap">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Capitalización de mercado </th>
          <td mat-cell *matCellDef="let element"> ${{element.marketcap.toFixed()}} </td>
        </ng-container>
  
        <ng-container matColumnDef="circulatingSupply">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Supply circulante </th>
          <td mat-cell *matCellDef="let element"> {{element.circulatingSupply.toFixed()}} {{element.symbol}} </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/monedas']" style="text-align: right;" > 
            <a class="pointer" style="color: #D61C4E" matTooltip="Más info" (click)="moneda(element)">
              <mat-icon>search</mat-icon>
            </a> 
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>  
      <mat-paginator [pageSize]="10" aria-label="Select page of users"></mat-paginator>
    </div>
  </body>
  
</html>
